
<html lang="ja">
    {% extends '../base.html' %}
    <head>
        {% block title %}
        <title>
            パスワードの再設定
        </title>
        {% endblock %}
    </head>
    {% block content %}
    <body>
        <!-- 中央寄せにして作成する -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1>パスワードの再設定</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">再設定</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- ログインページに戻るリンクを再設定ボタンの下に追加 -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <a href="{% url 'account_login' %}" style="text-decoration: none;">ログインページ</a>
                    <p>に戻る</p>
                </div>
            </div>
        </div>
    </body>
    {% endblock %}
</html>