<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            フィード一覧
            {% endblock %}
        </title>
    </head>
    <body>
        <!-- 登録されているフィードの一覧を作成 -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1>フィード一覧</h1>
                    <p>
                        <a href="{% url 'reader:add_feed' %}">フィード登録</a>
                    </p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>フィード名</th>
                                <th>URL</th>
                                <th>削除</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feed in feeds %}
                            <tr>
                                <td>{{ feed.name }}</td>
                                <td>{{ feed.url }}</td>
                                <td>
                                    <form action="{% url 'reader:delete_feed' feed.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="削除">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </body>
</html>