<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            削除エラー
            {% endblock %}
        </title>
    </head>
    <body>
        <!-- 中央寄せで作成 -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1>削除エラー</h1>
                    <p>
                        フィードが登録されていない為、削除できません。
                    </p>
                    <p>
                        <a href="{% url 'reader:all_feeds' %}">フィード一覧</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>