<!DOCTYPE html>
<html lang="ja">
    {% extends 'base.html' %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            パスワードの再設定
            {% endblock %}
        </title>
    </head>
    <body>
        <!-- 中央寄せにして作成する -->
        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1>パスワードの再設定</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">再設定</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- ログインページに戻るリンクを再設定ボタンの下に追加 -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <a href="{% url 'account_login' %}">ログインページ</a>
                    <p>に戻る</p>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>