{% extends "../base.html" %}
<head>
    {% block title %}
    <title>
        フィードの追加
    </title>
    {% endblock %}
</head>
{% block content %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>フィードの追加</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- フィード名の入力フォーム -->
                    <div class="form-group" style="height: 30px;">
                        <label for="feed_name">フィード名</label>
                        <input type="text" class="form-control" id="feed_name" name="feed_name" placeholder="タイトルを入力してください">
                    </div>
                    <!-- URLの入力フォーム -->
                    <div class="form-group" style="height: 30px;">
                        <label for="url">URL</label>
                        <input type="text" class="form-control" id="url" name="url" placeholder="RSSフィードのURLを入力してください">
                    </div>
                    <!-- URLの入力フォームと追加ボタンの間にスペースを追加 -->
                    <!-- 追加ボタン -->
                    <button type="submit" class="btn btn-primary" style="height: 30px;">追加</button>
                </form>
            </div>
        </div>
    </div>
    <!-- 追加ボタンの下にフィード一覧に戻るリンクを追加 -->
    <div class="container" style="height: 30px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <a href="{% url 'reader:feed_list' %}">フィード一覧に戻る</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}