<!DOCTYPE html>
<html lang="ja">
    {% extends "../base.html" %}
    <head>
        <title>{% block title %}
            フィードの追加
            {% endblock %}
        </title>
    </head>
    <body>
        <!-- 中央寄せにしてページを作成 -->
        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1>フィードの追加</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">追加</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- 追加ボタンの下にフィード一覧に戻るリンクを追加 -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <a href="{% url 'reader:all_feeds' %}">フィード一覧に戻る</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>