{% extends "../base.html" %}
{%block head%}
<head>
    <title>
        {% block title %}
        削除エラー
        {% endblock %}
    </title>
</head>
{% endblock %}
{% block content %}
    {% block navbar%}
    {% endblock %}
{% endblock %}
{% block main %}
    <!-- 中央寄せで作成 -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>削除エラー</h1>
                <h4>フィードが登録されていない為、削除できません。</h4>
                <p>
                    <a href="{% url 'reader:feed_list' %}">フィード一覧</a>に戻る
                </p>
            </div>
        </div>
    </div>
{% endblock %}