{% extends "../base.html" %}
{% block head %}
    <head>
        {{ block.super }}
        {% block title %}
            <title>
                削除エラー
            </title>
        {% endblock %}
    </head>
{% endblock %}
{% block navbar%}
    {{ block.super }}
{% endblock %}
{% block main %}
    {{ block.super }}
    <!-- 中央寄せで作成 -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>削除エラー</h1>
                <h4>フィードが登録されていない為、削除できません。</h4>
                <p>
                    <a href="{% url 'reader:feed_list' %}">フィード一覧</a>に戻る
                </p>
            </div>
        </div>
    </div>
{% endblock %}