{% extends "../base.html" %} {% block head %} {{ block.super }} {% endblock %} {% block title %}
<title>{{ entry.title }}</title>
{% endblock %} {% block navbar %} {{ block.super }} {% endblock %} {% block main %} {{ block.super }}
<div class="container">
    <div class="text-center">
        <h1 class="mt-5 my-5">{{ feed.title }}</h1>
        <p>
            {{ feed.description }}<br />
            記事の登録日時:{{ entry.pub_date }}
        </p>
    </div>
    <div class="my-4 text-center">
        <button class="btn btn-primary mt-3" id="update-feed-button" data-feed-id="{{ feed.id }}">更新</button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for entry in entries %}
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ entry.title }}</h5>
                    <p class="card-text">{{ entry.summary }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ entry.link }}" target="_blank" class="btn btn-primary">記事を読む</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
