{% extends "../base.html" %}

{% block head %}
	{{ block.super }}
	{% block title %}
	<title>
		{{ entry.title }}
	</title>
	{% endblock %}
{% endblock %}
{% block navbar%}
	{{ block.super }}
{% endblock %}
{% block main %}
{{ block.super }}
<div class="container text-center">
	<div class="row">
		<div class="col-md-12">
			<h1>{{ feed.title }}</h1>
			<p>{{ feed.description }}</p>
		</div>
	</div>
	{% for entry in entries %}
	<div class="col-md-12 mb-4">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">{{ entry.title }}</h5>
				<p class="card-text">{{ entry.summary }}</p>
			</div>
			<div class="card-footer">
				<a href="{{ entry.link }}" target="_blank" class="btn btn-primary">記事を読む</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card-footer">
				<button id="update-feed-button" data-feed-id="{{ feed.id }}">更新</button>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
    <script>
        document.getElementById("update-feed-button").addEventListener("click", function() {
            var feedId = this.dataset.feedId;
            fetch("/update_feed/" + feedId + "/")
                .then(response => response.text())
                .then(data => {
                    location.reload();
            });
        });
    </script>
{% endblock %}