{% extends "../base.html" %} {% block head %} {{ block.super }} {% endblock %} {% block title %}
<title>エラー</title>
{% endblock %} {% block navbar %} {{ block.super }} {% endblock %} {% block main %} {{ block.super }}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 flex-column">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-3">
                        <h2 class="my-4 mt-4">エラー</h2>
                        <p class="my-5">
                            エラーが発生しました。<br />
                            問題が解決できない場合は、管理者に状況を報告してください。<br />
                            管理者の連絡先は下記の「管理者情報」から確認できます。<br />
                            ご迷惑をおかけして申し訳ございません。
                        </p>
                        <!-- エラーメッセージがある場合は表示する -->
                        {% if error_message %} {% messages %}
                        <div class="my-4 mt-4 alert alert-{{ message.tags }}">{{ message|linebreaksbr }}</div>
                        {% endmessages %} {% endif %}
                        <div class="d-flex justify-content-between">
                            <a href="https://manager.neuron-grid.net/" class="btn btn-primary"> 管理者情報 </a>
                            <a href="{% url 'reader:feed_list' %}" class="btn btn-secondary"> フィード一覧に戻る </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
