{% extends "../base.html" %} {% block head %} {{ block.super }}
<head>
    {% block title %}
    <title>フィード一覧</title>
    {% endblock %}
</head>
{% endblock %} {% block navbar%} {{ block.super }} {% endblock %} {% block main %} {{ block.super }}
<div class="container my-4">
    <h1 class="text-center mb-4">フィード一覧</h1>
    <div class="row">
        {% for feed in feeds %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">{{ feed.title }}</h3>
                    <p class="card-text">{{ feed.description }}</p>
                    <form method="post" action="{% url 'reader:feed_list' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">全てのフィードを更新</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="{% url 'reader:detailed_list' feed.id %}" class="btn btn-primary me-2">詳細</a>
                    <a href="{% url 'reader:remove_feed' feed.id %}" class="btn btn-danger me-2">削除</a>
                    <!-- <a href="{% url 'reader:update_feed' feed.id %}" class="btn btn-secondary me-2">更新</a> -->
                </div>
            </div>
        </div>
        {% empty %}
        <h3 class="text-center my-4">まだ登録されていません。</h3>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block JS_Resize %} {{ block.super }} {% endblock %}
