{% extends "../base.html" %} {% block head %} {{ block.super }}
<head>
    {% block title %}
    <title>フィードの削除</title>
    {% endblock %}
</head>
{% endblock %} {% block navbar%} {{ block.super }} {% endblock %} {% block main %} {{ block.super }}
<!-- 中央寄せにしてページを作成する -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 flex-column">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 offset-md-3">
                        <h1>フィードの削除</h1>
                        <!-- actionを修正 -->
                        <form class="d-flex flex-column row g-3" method="post" action="{% url 'reader:remove_feed' feed_id=feed.id %}">
                            {% csrf_token %}
                            <p class="mt-5">本当に削除しますか？</p>
                            <h3>{{ feed.title }}</h3>
                            <button type="submit" class="btn btn-secondary">削除</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- フィード一覧に戻るリンクを削除ボタンの下に追加 -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 flex-column">
            <div class="container text-center">
                <div class="row mt-4">
                    <div class="col-md-8 offset-md-3">
                        <a href="{% url 'reader:feed_list' %}">フィード一覧に戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
