{% extends "../base.html" %}
{% block title %}
    <head>
        <title>
            フィードの削除
        </title>
    </head>
{% endblock %}
{% block content %}
    <body>
        <!-- 中央寄せにしてページを作成する -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1>フィードの削除</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        <p>本当に削除しますか？</p>
                        <!-- 登録済みのフィードのタイトルを表示し何を削除するかを選択する -->
                        <p>{{ feed.title }}</p>
                        <input type="submit" value="削除">
                    </form>
                </div>
            </div>
        </div>
        <!-- フィード一覧に戻るリンクを削除ボタンの下に追加 -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <a href="{% url 'reader:all_feeds' %}">フィード一覧に戻る</a>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
