{% extends "../base.html" %} {% block head %}
<head>
    {{ block.super }} {% block title %}
    <title>サイト管理者</title>
    {% endblock %}
</head>
{% endblock %} {% block navbar %} {{ block.super }} {% endblock %} {% block main %} {{ block.super }}
<div class="container">
    <h1 class="text-center my-5 mt-5">管理者情報</h1>
    <table class="table table-striped">
        <tbody class="text-center">
            <tr>
                <th scope="row">名前</th>
                <td>Neuron Grid</td>
            </tr>
            <tr>
                <th scope="row">メールアドレス</th>
                <td>neuron-grid@neuron-grid.net</td>
            </tr>
            <tr>
                <th scope="row">GPGの公開鍵</th>
                <td>
                    <a href="https://keys.openpgp.org/" class="link-primary d-inline text-decoration-none">こちら</a>
                    で公開鍵を配布しています。
                </td>
            </tr>
            <tr>
                <th scope="row">Misskey.io</th>
                <td>
                    <a href="https://misskey.io/@Neuron_Grid/" class="link-primary d-inline text-decoration-none">こちら</a>
                    が管理者のMisskeyアカウントです。
                </td>
            </tr>
            <tr>
                <th scope="row">Matrix.io</th>
                <td>
                    <a href="https://matrix.to/#/@neuron_grid:matrix.org" class="link-primary d-inline text-decoration-none">こちら</a>
                    が管理者のMatrix.io(Element)アカウントです。
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
