<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% block content %}
    <body>
        <div>
            <strong>Menu:</strong>
            <ul>
            {% if user.is_authenticated %}
            <li>
                <ui>
                    <a href="{% url 'account_email' %}">Change E-mail</a>
                    <a href="{% url 'account_logout' %}">Sign Out</a>
                </ui>
            </li>
            {% else %}
            <li>
                <ui>
                    <a href="{% url 'account_login' %}">Sign In</a>
                    <a href="{% url 'account_signup' %}">Sign Up</a>
                </ui>
            </li>
            {% endif %}
            </ul>
        </div>
    </body>
    {% endblock %}
</html>