<!DOCTYPE html>
<html lang="ja">
    {% load static %} {% load django_bootstrap5 %} {% block head %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="RSSフィードを登録して、最新のニュースを確認できるサイトです。" />
        <meta name="keywords" content="RSS,ニュース,フィード,登録,最新,RSSフィード" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <script src="{% static 'adjust.js' %}"></script>
        {% bootstrap_css %} {% bootstrap_javascript %}
    </head>
    {% endblock %} {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'reader:index' %}">RSS News</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reader:add_feed' %}">RSSフィード追加</a>
                    </li>
                    <!--
                        <li class="nav-item">
							<a class="nav-link" href="#">アカウント管理</a>
						</li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reader:feed_list' %}">フィード一覧</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'reader:site_manager' %}">サイト管理者</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">新規登録</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'reader:site_manager' %}">サイト管理者</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %} {% block main %}
    <body></body>
    {% endblock %}
</html>
