<!DOCTYPE html>
<html lang="ja">
    {% extends "../base.html" %}
    <head>
        <title>
            {% block title %}
            フィード一覧
            {% endblock %}
        </title>
    </head>
    <body>
        <!-- ナビゲーションバーにRSSフィードを追加するページと削除するページのURLを追加 -->
        {% block content %}
        <header>
            {% block header %}
            <h1>フィード一覧</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'reader:add_feed' %}">フィードを追加</a>
                    </li>
                    <li>
                        <a href="{% url 'reader:remove_feed' %}">フィードを削除</a>
                    </li>
                </ul>
            </nav>
            {% endblock %}
        </header>
        <!-- RSSフィードの一覧を表示するページを作成する -->
        <p>{{ user.username }}様ログインに成功しました。</p>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <!-- フィード一覧を表示する -->
                    <ul>
                        {% for feed in feeds %}
                        <li>
                            <a href="{% url 'reader:feed_detail' feed.id %}">{{ feed.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>